ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
ul.posts li {
  line-height: 1.75em;
  position: relative;
  margin-bottom: 2em;
}
.post-title {
  text-decoration: none;
  color: #4e433c;
}
.post-title:hover {
  color: #752b94;
}
.post-title:visited {
  color: #4e433c;
}
.post-title:visited:hover {
  color: #752b94;
}
.post-preview-aside {
  float: left;
  width: 20%;
  margin: 0;
  text-align: left;
  color: #888888;
}
.post-preview-title {
  font-size: 1.25em;
}
ul.posts li::after {
  content: " ";
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1em;
  margin-bottom: .75em;
  width: 60%;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: #b379cb;
}
.post-title {
  text-transform: capitalize;
}
ul.posts li:last-child::after {
  content: "";
  display: none;
}
ul.posts span {
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
}
.project-preview {
  width: 30%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}
.project-thumbnail img {
  max-width: 228px;
  width: 100%;
}
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background: url(/img/ricepaper2.png) fixed;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(236, 233, 226, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  text-align: center;
  color: #4e433c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
h1 {
  margin-bottom: 1em;
}
p {
  margin: 1em 0;
}
a {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #9b59b6;
}
a:hover {
  color: #752b94;
}
a:visited {
  color: #9b59b6;
}
a:visited:hover {
  color: #752b94;
}
.clear {
  clear: both;
}
/*****************************************************************************/
/*
/* Util
/*
/*****************************************************************************/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.5em;
}
.site .header {
  border-bottom: 2px solid #b379cb;
  margin: 1em 0;
}
.site .header > * {
  float: left;
  width: 16.66667%;
  top: 0;
  bottom: 0;
  margin: 1em 0;
  vertical-align: baseline;
}
.site .header > .title {
  display: inline-block;
  width: 12%;
  margin-left: 4.66667%;
  margin-bottom: 1em;
  margin-top: 0;
  text-indent: -4.66667%;
}
.site .header a {
  font-weight: bold;
  text-decoration: none;
  transition: color .1s linear;
}
.site .header h1.title a {
  font-size: 150%;
  color: #914FAC;
}
.site .header h1.title a:hover {
  color: #000;
}
.site .header a.extra {
  color: #aaa;
}
.site .header a.extra:hover {
  color: #000;
}
.site .meta {
  color: #aaa;
}
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 2px solid #b379cb;
  margin-top: 4em;
  overflow: hidden;
}
.site .footer .contact {
  float: left;
  margin-right: 3em;
}
.site .footer .contact a {
  color: #8085C1;
}
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}
.site .footer .rss img {
  border: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
