<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header group">
              <h1 class="title"><a href="/">Aaron<br>Sikes</a></h1>
              <a class="extra" href="/">Home</a>
              <a class="extra" href="/blog">Blog</a>
              <a class="extra" href="/projects">Projects</a>
              <a class="extra" href="/ideas">Ideas</a>
              <a class="extra" href="/about">About</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Aaron Sikes<br />
                  Web Developer<br />
                  aaron@aaronsikes.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/FellowMD">github.com/FellowMD</a><br />
                  <a href="https://twitter.com/AaronMSikes">twitter.com/AaronMSikes</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
